/* src/index.css */

/* Reset básico para que el diseño sea predecible */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcf8f5; /* El color de fondo del proyecto */
  color: #260f08;           /* El color de texto principal */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Aseguramos que el root de React ocupe todo el ancho */
#root {
  width: 100%;
}